body {
    background-color: aquamarine;
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
}

/* section {

} */

.poem {
    background-color:azure;
    white-space: pre-wrap;
    padding: 2rem;
}